.sidemenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidemenu {
    background-color: grey;
    height: 100%;
}

.logout {
    font-size: 24px;
    color: black;
}